<div class="col-md-4" *ngFor="let participante of participou[0]">
        <div class="card card-member">
            <div class="content">
                    <div class="avatar avatar-danger">
                            <img alt="..." class="img-circle" src="{{ participante.urlfoto}}"/>
                    </div>
                    <div class="description">
                            <h3 class="title">{{ participante.nome }} </h3>
                                                    <p class="small-text">{{participante.funcao}}</p>
                                                    <a href="{{ participante.git}} "> {{participante.git}}</a>

                                                    <p class="description"> {{  participante.descricao}} </p>
                    </div>
                </div>
        </div>
</div>